<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Back to items", items_path %> |
  <%#= link_to "Edit this item", edit_item_path(@item) %>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Edit this item
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "form", item: @item %>
      </div>
    </div>
  </div>
</div>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
