<div id="<%= dom_id transaction %>">
  <p>
    <strong>Data:</strong>
    <%= transaction.data %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= transaction.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= transaction.type_enum %>
  </p>

</div>
