<div class="row">
  <div class="col-1">
    <%= link_to "", transactions_path, class: 'bi bi-arrow-left btn btn-white' %>
  </div>
  <div class="col">
    <p style="color: green"><%= notice %></p>

    <%= render @transaction %>

    <div>
      <%#= link_to "Edit this transaction", edit_transaction_path(@transaction) %>

      <ul class="list-unstyled list-inline">

        <li class="list-inline-item"><button type="button" class="bi bi-pencil btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal"></button></li>
        <li class="list-inline-item"><%= button_to "", @transaction, method: :delete, class: 'bi bi-trash btn btn-danger' %></li>
      </ul>


      <!-- Button trigger modal -->

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= render "form", transaction: @transaction %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
