<!DOCTYPE html>
<html>
  <head>
    <title>RotasManuaisRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="row px-4 py-4">
      <div class="col">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
